<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScoreoForERLite.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
		<ScoreoForERLite.App.Properties.Settings>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxTimeSeconds" serializeAs="String">
                <value>3600</value>
            </setting>
            <setting name="PenaltyIntervalSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="PenaltyPerInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ReaderControl" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="ScoringFunctionName" serializeAs="String">
                <value />
            </setting>
            <setting name="AllowedControls" serializeAs="String">
                <value />
            </setting>
            <setting name="FinishControl" serializeAs="String">
                <value>92</value>
            </setting>
            <setting name="StartControl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoOpenLatest" serializeAs="String">
                <value>False</value>
            </setting>
        </ScoreoForERLite.App.Properties.Settings>
    </userSettings>
</configuration>